<?php
$CONFIG = array (
  'passwordsalt' => 'kqHMIzkCG5ON2zm9jURpxEILnEHgBj',
  'secret' => 'oQCcMmuq+bOEhz1Wp+GPFzQnc47XbcKXr6UnY7+zUhehHshE',
  'trusted_domains' =>
  array (
          0 => 'localhost',
          1 => '*'
  ),
  'datadirectory' => '/var/www/nextcloud/data',
  'dbtype' => 'mysql',
  'version' => '27.1.3.2',
  'overwrite.cli.url' => 'http://localhost/nextcloud',
  'dbname' => 'nextcloud',
  'dbhost' => '{{ db_host }}',
  'dbport' => '',
  'dbtableprefix' => 'oc_',
  'mysql.utf8mb4' => true,
  'dbuser' => '{{ db_user }}',
  'dbpassword' => '{{ db_password }}',
  'installed' => true,
  'instanceid' => 'ock1x4ifu0bo',
  'maintenance_window_start' => '1'
);